In [3]:
import pandas as pd

In [7]:
# List of input CSV files
input_files = {
    "krt4": "krt4_normalized.csv", 
    "tp63": "Tp63_normalized.csv"
}

# List of columns to select from each CSV
selected_columns = ["gene_name", "log10FPKM"]

# Initialize an empty list to store dataframes
dataframes = []

# Read and select columns from each CSV
for k, v in input_files.items():
    df = pd.read_csv(v, dtype=object)
    selected_df = df[selected_columns]
    selected_df = selected_df.rename(columns={"log10FPKM": k})
    selected_df[k] = selected_df[k].astype(str)
    dataframes.append(selected_df)

In [8]:
# print dataframes
dataframes

[        gene_name    krt4
 0            a1cf  -0.353
 1            a2ml  -0.796
 2            aaas   1.301
 3            aacs   0.187
 4           aadac  -0.737
 ...           ...     ...
 36346  mir430a-16  -4.000
 36347  mir430c-17  -4.000
 36348  mir430c-18  -4.000
 36349  mir430a-11  -4.000
 36350  mir430a-17  -4.000

 [36351 rows x 2 columns],
         gene_name    tp63
 0            a1cf  -1.046
 1            a2ml  -2.176
 2            aaas   1.086
 3            aacs   0.183
 4           aadac  -1.778
 ...           ...     ...
 36346  mir430a-16  -4.000
 36347  mir430c-17  -4.000
 36348  mir430c-18  -4.000
 36349  mir430a-11  -4.000
 36350  mir430a-17  -4.000

 [36351 rows x 2 columns]]

In [9]:

# join on "geneid"
merged_df = dataframes[0]
for df in dataframes[1:]:
    # join on "Gene_Names"and "Gene_ID"
    merged_df = pd.merge(merged_df, df, on=["gene_name"], how="inner")
    
# write dataframe to json
merged_str = merged_df.to_json(orient="records")
merged_str = "{ \"data\": " + merged_str + "}"
with open("data.json", "w") as f:   
    f.write(merged_str)