In [1]:
import pandas as pd

In [8]:
# List of input CSV files
input_files = {
    "krt4": "krt4_final_counts.csv", 
    "tp63": "tp63_final_counts.csv"
}

# List of columns to select from each CSV
selected_columns = ["Gene_Names","Gene_ID","Avg_Count"]

# Initialize an empty list to store dataframes
dataframes = []

# Read and select columns from each CSV
for k, v in input_files.items():
    df = pd.read_csv(v)
    selected_df = df[selected_columns]
    selected_df = selected_df.rename(columns={"Avg_Count": k})
    selected_df[k] = selected_df[k].astype(str)
    dataframes.append(selected_df)

In [9]:
dataframes

[       Gene_Names       Gene_ID  krt4
 0            a1cf  LL0000000001    32
 1            a2ml  LL0000000002    30
 2            aaas  LL0000000003  1048
 3            aacs  LL0000000004   270
 4           aadac  LL0000000005    17
 ...           ...           ...   ...
 36346  mir430a-16  LL0000040570     0
 36347  mir430c-17  LL0000040571     0
 36348  mir430c-18  LL0000040572     0
 36349  mir430a-11  LL0000040573     0
 36350  mir430a-17  LL0000040574     0

 [36351 rows x 3 columns],
        Gene_Names       Gene_ID tp63
 0            a1cf  LL0000000001    8
 1            a2ml  LL0000000002    1
 2            aaas  LL0000000003  679
 3            aacs  LL0000000004  224
 4           aadac  LL0000000005    4
 ...           ...           ...  ...
 36346  mir430a-16  LL0000040570    0
 36347  mir430c-17  LL0000040571    0
 36348  mir430c-18  LL0000040572    0
 36349  mir430a-11  LL0000040573    0
 36350  mir430a-17  LL0000040574    0

 [36351 rows x 3 columns]]

In [10]:

# join on "geneid"
merged_df = dataframes[0]
for df in dataframes[1:]:
    # join on "Gene_Names"and "Gene_ID"
    merged_df = pd.merge(merged_df, df, on=["Gene_Names", "Gene_ID"], how="inner")
# write dataframe to json
merged_str = merged_df.to_json(orient="records")
merged_str = "{ \"data\": " + merged_str + "}"
with open("data.json", "w") as f:   
    f.write(merged_str)